@font-face {
	font-family: digital-7;
	src: url("./Digital7-1e1Z.ttf");
}

* {
	margin: 0px;
	padding: 0px;
}
.main {
	display: flex;
	align-items: center;
	justify-content: center;
}

.calc {
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 600px;
	background-color: grey;
	justify-content: center;
	border-radius: 10px;
}
.display {
	padding: 10px;
	background-color: rgb(125, 140, 115);
	font-family: digital-7;
	font-size: 30px;
	margin: 10px;
}

.output {
	text-align: right;
	width: 100%;
	height: 30px;
}
.equation {
	width: 100%;
	height: 30px;
}

.calc-buttons {
	display: flex;
	flex-direction: column;
	margin: 10px;
}
.nums-and-ops {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(4, 1fr);
}
.nums-and-ops>button {
	height: 80px;
	border-radius: 8px;
	border: 1px solid;
}
.clear-delete {
	width: 100%;
	display: flex;
	height: 50px;
	margin-bottom: 10px;
}
.clear-delete>button {
	border-radius: 8px;
	flex-grow: 1;
	border: 1px solid;
}